In [1]:
import numpy as np
import pandas as pd
import altair as alt

In [11]:
path = '../data/external/'

filename = 'ACS_17_5YR_B01003_with_ann.csv'

data = pd.read_csv(path+filename,encoding='ISO-8859-1',header=1)

In [66]:
data[['County','State']] = data.Geography.str.split(',',expand=True)
data.County = np.array(data.County.str.split(' ',expand=True,n=1))[:,0]

In [69]:
data.where(data.County=='Albany').dropna()

,Id,Id2,Geography,Estimate; Total,Margin of Error; Total,County,State
1828,0500000US36001,36001.0,"Albany County, New York",308580.0,*****,Albany,New York
3119,0500000US56001,56001.0,"Albany County, Wyoming",37944.0,*****,Albany,Wyoming